<vitae-ui-results [data]="getResults()">
  <vitae-ui-card class="list" *ngFor="let launch of launches"
                 [data]="getCard(launch)">
    <main>
      <vitae-ui-on-time [data]="{ time: launch.net }"></vitae-ui-on-time>
      <div><i>{{launch.net | timeToGo}}</i></div>
      <vitae-ui-at-location [data]="{ location: launch.location }"></vitae-ui-at-location>
      <vitae-ui-at-location [data]="{ prefix: 'pad:', location: launch.pad }">
      </vitae-ui-at-location>
      <vitae-ui-by-agency [data]="{name:launch.agencyName, link:'../agency/' +launch.agencyName}">
      </vitae-ui-by-agency>
    </main>
  </vitae-ui-card>
</vitae-ui-results>
