<form [formGroup]="form" (submit)="getSpaceData()">
  <legend> Searching {{ queryParams.numberOfLaunches }} launches related to
    {{ queryParams.searchTerm }}
  </legend>
  <div>
    <label for="searchTerm">Search term</label>
    <input name="searchTerm" type="text" formControlName="searchTerm" />
    <small
           *ngIf="getErrorMessage('searchTerm') as errorMessage"><i>{{errorMessage}}</i></small>
  </div>
  <div>
    <label for="numberOfLaunches">Number of launches</label>
    <input
           name="numberOfLaunches"
           type="number"
           formControlName="numberOfLaunches" />
    <small
           *ngIf="getErrorMessage('numberOfLaunches') as errorMessage"><i>{{errorMessage}}</i></small>
  </div>
  <vitae-date-range-form></vitae-date-range-form>
  <small
         *ngIf="getErrorMessage() as errorMessage"><i>{{errorMessage}}</i></small>
  <button type="submit" [disabled]="form.invalid">Go !</button>
</form>
