<form [formGroup]="form" (submit)="getSpaceData()">
  <div>
    <div>
      <label for="searchTerm">Search term</label>
      <input name="searchTerm" type="text" formControlName="searchTerm" />
    </div>
    <div>
      <label for="numberOfLaunches">Number of launches</label>
      <input
             name="numberOfLaunches"
             type="number"
             formControlName="numberOfLaunches" />
    </div>
  </div>
  <div>
    <div>
      <label for="fromDate">From Date: </label>
      <input
             name="fromDate"
             type="date"
             formControlName="fromDate" />
    </div>
    <div>
      <label for="toDate">To Date: </label>
      <input
             name="toDate"
             type="date"
             formControlName="toDate" />
    </div>
  </div>
  <button type="submit">Go 🚀</button>
</form>
